:root {
  --bg-color: #eefaff;
  --thin-blue: #dfdfff;
  --blue: #00a6e2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #101419;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #555;
}

button {
  padding: 6px 12px;
  cursor: pointer;
}

.App {
  background-color: var(--bg-color);
  min-height: 100vh;
}
