.navigation-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: bisque;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px;
  /* position: fixed;
  width: 100%;
  top: 0; */
}

@media screen and (max-width: 480px) {
  .navigation-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navigation-bar .app-title {
    padding: 8px 0;
  }
  .navigation-bar nav {
    width: 100%;
    height: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(255, 245, 230, 0.8);
  }
}

.navigation-bar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600 !important;
  position: relative;
}

.navigation-bar nav .nav-btn {
  background: transparent;
  padding: 0;
  font-size: 1rem;
  border: none;
}

.navigation-bar nav .nav-btn:hover {
  color: #555;
}

.navigation-bar nav a,
.navigation-bar nav .profile-options {
  margin: 0 6px;
  cursor: pointer;
}

.navigation-bar nav .profile-options {
  position: relative;
}

.navigation-bar nav .profile-options img {
  position: relative;
  top: 2px;
}

.navigation-bar nav .profile-options .nav-btn {
  display: none;
}

.navigation-bar nav .profile-options:hover .nav-btn {
  display: inline;
  position: absolute;
  top: 35px;
  right: 6px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #999;
  background-color: var(--bg-color);
}

@media screen and (max-width: 480px) {
  .navigation-bar nav .profile-options:hover .nav-btn {
    top: 40px;
    left: 0px;
  }
}

.navigation-bar nav .avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 42px 0;
  --width: 60vw;
}

.main-container .controls {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 12px;
}

.main-container .controls .input-file-name {
  display: block;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
}

.main-container .controls button {
  background-color: transparent;
  border: 2px solid #ffc896;
  border-radius: 50px;
}

.main-container .controls button:hover {
  background-color: #fff;
}

.main-container .controls button:disabled {
  background-color: #ddd;
}

.main-container .controls button.delete-btn {
  margin-left: 10px;
}

.main-container .controls button.download-btn {
  display: block;
  margin-top: 8px;
}

.main-container .controls button.download-btn .fas {
  font-size: 16px;
  margin-right: 6px;
}

.main-container .controls .far,
.main-container .controls .fas {
  font-size: 18px;
  cursor: pointer;
}

.main-container .controls .fa-save {
  color: #008cff;
}

.main-container .controls .fa-trash-alt {
  color: #fa4040;
}

.main-container .controls .fa-download {
  color: #3faa43;
}

.main-container .doc {
  width: var(--width);
  height: calc(var(--width) * 1.4142);
  overflow-y: scroll;
  background-color: #fff;
  -webkit-box-shadow: 1px 2px 2px 3px grey;
          box-shadow: 1px 2px 2px 3px grey;
  margin: 4px;
  padding: 16px;
  outline: none;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .main-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    --width: 80vw;
  }
  .main-container .controls {
    display: -ms-grid;
    display: grid;
    justify-items: center;
  }
}

.docs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding-top: 24px;
}

@media screen and (min-width: 481px) {
  .docs-wrapper {
    width: 80%;
  }
}

.docs-wrapper .doc-card {
  position: relative;
  width: 280px;
  background-color: #fff;
  margin: 12px;
  padding: 12px;
  border-radius: 8px;
  -webkit-box-shadow: 1px 2px 5px 1px #a89b9b40;
          box-shadow: 1px 2px 5px 1px #a89b9b40;
}

.docs-wrapper .doc-card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background-color: transparent;
  border-top: 10px solid var(--bg-color);
  border-right: 10px solid var(--bg-color);
  border-bottom: 10px solid var(--blue);
  border-left: 10px solid var(--blue);
}

.docs-wrapper .doc-card .doc-name {
  font-weight: 600;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--thin-blue);
}

.docs-wrapper .doc-card .doc-content {
  display: -webkit-box;
  height: 175px;
  padding: 8px 0;
  margin-bottom: 8px;
  color: #444;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.docs-wrapper .doc-card .doc-action-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid var(--thin-blue);
  padding-top: 12px;
}

.docs-wrapper .doc-card .doc-action-buttons .far {
  font-size: 18px;
  cursor: pointer;
  margin-right: 12px;
}

.docs-wrapper .doc-card .doc-action-buttons .far:hover {
  opacity: 0.75;
}

.docs-wrapper .doc-card .doc-action-buttons .fa-edit {
  color: #ffa600;
}

.docs-wrapper .doc-card .doc-action-buttons .fa-trash-alt {
  color: #fa4040;
}

.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  height: calc(100vh - 56px);
  padding: 24px 10%;
  margin: auto;
}

.home-container > div {
  width: 50%;
}

.home-container .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home-container .section .headline {
  font-family: Montserrat, sans-serif;
}

.home-container .section .description {
  color: #555;
  margin: 36px 0 24px 0;
  font-family: Comfortaa, sans-serif;
}

.home-container .section a {
  display: inline-block;
  margin-top: 12px;
  padding: 12px 24px;
  font-family: Comfortaa, sans-serif;
  border-radius: 24px;
  color: #fff;
  background-color: var(--blue);
  -webkit-box-shadow: 1px 2px 5px 1px #a89b9b40;
          box-shadow: 1px 2px 5px 1px #a89b9b40;
}

.home-container .section a:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.home-container .image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-container .image-wrapper img {
  width: 320px;
}

@media screen and (max-width: 768px) {
  .home-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-container > div {
    width: 100%;
  }
  .home-container .section {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .home-container .section .headline {
    padding: 12px 0;
  }
}

@media screen and (max-width: 480px) {
  .home-container {
    height: calc(100vh - 102px);
  }
}
/*# sourceMappingURL=style.css.map */